on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/publish.yml
      - .github/workflows/test_publish.yml
      - packages/subpackage_c/**
  pull_request:
    paths:
      - .github/workflows/publish.yml
      - .github/workflows/test_publish.yml
      - packages/subpackage_c/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release_default:
    uses: ./.github/workflows/publish.yml
    with:
      test_groups: test, concurrency
      test_extras: recommended
      test_command: pytest --pyargs test_package
      timeout-minutes: 30
  release:
    uses: ./.github/workflows/publish.yml
    with:
      save_artifacts: true
      upload_to_pypi: false
      test_groups: test, concurrency
      test_extras: recommended
      test_command: pytest --pyargs test_package
      targets: |
        - linux
        - cp31?-macos*
        - cp312-macosx_arm64
        - cp313-macosx_universal2
        - target: cp311-macosx_x86_64
          runs-on: macos-latest
        - cp3?-win_amd64
        - cp313-win_arm64
        - target: cp312-manylinux_aarch64
          runs-on: ubuntu-24.04-arm
        - cp313-manylinux_x86_64
        - target: cp311-manylinux_ppc64le
      timeout-minutes: 30
  release_sdist_only:
    uses: ./.github/workflows/publish.yml
    with:
      test_groups: test, concurrency
      test_extras: recommended
      test_command: pytest --pyargs test_package
      targets: ''

  release_working_directory:
    uses: ./.github/workflows/publish.yml
    with:
      working-directory: packages/subpackage_c
      test_command: python -c "from subpackage_c import example_func; assert example_func() == 42"
      targets: |
        - linux
      upload_to_pypi: false
      timeout-minutes: 30

  test-upload-external:
    name: Use built dists and test upload
    runs-on: ubuntu-latest
    needs: [release]
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v8.0.0
        with:
          merge-multiple: true
          pattern: dist-*
          path: dist

      - run: ls -lha dist/

      - name: Run upload (this will fail)
        continue-on-error: true
        uses: pypa/gh-action-pypi-publish@release/v1
