on:
  push:
  pull_request:

jobs:
  test_pyos:
    uses: ./.github/workflows/tox.yml
    with:
      envs: |
        - linux: py310-inputs-linux
        - macos: py39-inputs-macos
        - windows: py38-inputs-windows
          toxargs: '-v'
          runs-on: windows-2019

        - linux: py310-inputs-conda
        - macos: py310-inputs-conda
          conda: false
          posargs: not
        - windows: py310-inputs-con_da
          conda: true

      pytest: false

  test_global_override:
    uses: ./.github/workflows/tox.yml
    with:
      conda: 'true'
      runs-on: |
        linux: ubuntu-18.04
        macos: macos-10.15
      envs: |
        # conda present in toxenv
        - linux: py39-inputs-conda
        - linux: py39-inputs-conda
          conda: false
          posargs: not
        # conda not present in toxenv
        - linux: py39-inputs-con_da
          runs-on: ubuntu-latest
        - linux: py39-inputs-con_da
          conda: auto
          posargs: not
      pytest: false

  test_default_python:
    uses: ./.github/workflows/tox.yml
    with:
      default_python: '3.7'
      envs: |
        - linux: default_python
          posargs: '7'
        - linux: default_python
          default_python: '3.10'
          posargs: '10'
      pytest: false

  test_libraries:
    uses: ./.github/workflows/tox.yml
    with:
      libraries: |
        apt:
          - rolldice
        brew:
          - graphviz
      envs: |
        - linux: libraries
          posargs: 'rolldice -v'
        - macos: libraries
          posargs: 'dot -V'
        - linux: libraries
          posargs: 'bcal -h'
          libraries:
            apt:
              - bcal
        - windows: libraries
          posargs: 'dot -V'
          libraries:
            apt:
              - shouldnotinstall12345
            choco:
              - graphviz
        # test no libraries override
        - linux: libraries
          libraries: ''
          posargs: 'rolldice -v && exit 1 || exit 0'
      pytest: false

  test_venv:
    uses: ./.github/workflows/tox.yml
    with:
      envs: |
        - linux: pep8
          name: style_check
          pytest: false
        - linux: py310
        - macos: py39
        - windows: py38

  test_conda:
    uses: ./.github/workflows/tox.yml
    with:
      envs: |
        - linux: py310-conda
        - macos: py39-conda
        - windows: py38-conda
