on:
  workflow_dispatch:
  push:
    paths:
      - .github/workflows/publish.yml
      - .github/workflows/test_publish.yml
  pull_request:
    paths:
      - .github/workflows/publish.yml
      - .github/workflows/test_publish.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release_default:
    uses: ./.github/workflows/publish.yml
    with:
      test_extras: test
      test_command: pytest --pyargs test_package
      timeout-minutes: 30
  release:
    uses: ./.github/workflows/publish.yml
    with:
      test_extras: test
      test_command: pytest --pyargs test_package
      targets: |
        - linux
        - cp31?-macos*
        - target: cp311-macosx_x86_64
          runs-on: macos-13
        - cp312-macosx_arm64
        - cp313-macosx_universal2
        - cp3?-win_amd64
        - cp312-manylinux_aarch64
          runs-on: ubuntu-24.04-arm
        - cp313-manylinux_x86_64
        - target: cp311-manylinux_ppc64le
      timeout-minutes: 30
  release_sdist_only:
    uses: ./.github/workflows/publish.yml
    with:
      test_extras: test
      test_command: pytest --pyargs test_package
      targets: ''
